.address{    

    &__container,&__contact{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        

        @media screen and (min-width: 1200px){
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__item{
        margin-top: 9px;
    }

    &__item:first-child {
        margin-top: 20px;
    }

    &__link{
        @include font(400, 14px, $light-grey-text-color, 1.71, 0.03em);
        @include transition(color);
    }

    &__link:hover,&__link:focus{
        color: $accent-color;        
    }
}