.modal-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;

    &__inputs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__icon{
        position: absolute;
        top: 50%;
        left: 12px;
        width: 18px;
        height: 18px;
        fill: $primary-text-color;
        @include transition(fill);
    }

    &__title {
        margin-bottom: 12px;
        @include font(700, 20px, $primary-text-color, 1.17, 0.03em);
        text-align: center;

        @media screen and (max-width:1199px){
            max-width:370px;
        }
        
    }
}



.label{
    position: relative;
    margin-bottom: 10px; 
    cursor: pointer;
    @include transition(color);
    @include font(400, 12px, $sec-text-color, 1.16, 0.01em);

    &__comment{
        margin-bottom: 20px;
        cursor: pointer;
        @include transition(color);
        @include font(400, 12px, $sec-text-color, 1.16, 0.01em);
        
        &:focus-within {
                color: $accent-color;
            }    
    }

    &:focus-within{
        color: $accent-color;
    }

}

.input{

    margin-top: 4px;
    padding: 12px 12px 12px 42px;    
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    @include transition(border-color);

    @media screen and (min-width:1200px) {
        width: 448px;

    }

    &__comment{
        margin-top: 4px;
        padding: 12px 16px;
        width: 370px;        
        height: 120px;
        resize: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        @include transition(border-color);

        @media screen and (min-width:1200px) {
                width: 448px;
        
            }

        &::placeholder{
            color: rgba(33, 33, 33, 0.2);
        }
        
        &:focus {
            border-color: $accent-color;
            outline: none;
        }
    }

    &:focus{
        border-color:$accent-color;
        outline: none;

         + .modal-form__icon{
            fill: $accent-color;
         }
    }
}

.term-cond{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.agreement-text{   
    @include font(400, 14px, $sec-text-color, 1.71, 0.03em);

    &__link{
        margin-left: 2px;
        text-decoration: underline;
        color: $accent-color;
    }
}