.form-subscribe {
    margin-left: 0;

    @media screen and (min-width: 1200px){
        margin-left: 93px;
    }


}

.subscribe {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%; 
           

    @media screen and (min-width:1200px){

            justify-content: flex-start;
            align-items: flex-start;
        }

    

    &__title{
        margin-bottom: 20px;
        text-transform: uppercase;
        @include font(400, 14px, $white-text-color, 1.71, 0.03em);
    }
    &__input-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100%;
        gap: 20px;        

        @media screen and (min-width:1200px) {
            flex-direction: row;
        }
    }
    &__input{
        padding: 15px 15px 15px 16px;
        width:100%;       
        height: 50px;
        outline: none;
        color: rgba(255, 255, 255, 0.3);
        background-color: #2f303a;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        cursor: pointer;

        @media screen and (min-width:480px) and (max-width:1199px){
            width:450px;
        }
        @media screen and (min-width:1200px) {
                width:358px;
            }


    }

    &__btn{
        position: relative;
        width: 200px;
        height: 50px;
        padding: 10px 62px 10px 28px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        @include transition(color);
    }

    &__btn:hover,&__btn:focus{
        background-color: #117fd8;
    }

    &__icon{
        position: absolute;
        width: 24px;
        height: 24px;
        top: 13px;
        right: 28px;
    }
}