// txt color
$primary-text-color:#212121;
$sec-text-color:#757575;
$white-text-color:#ffffff;
$black-text-color:#000000;
$light-grey-text-color:rgba(255, 255, 255, 0.6);

// bcg color
$accent-color:#2196f3;
$white-bcg-color:#ffffff;
$light-grey-bcg-color:#F5F4FA;
$footer-bcg-color:#2F303A;
$grey-bcg-color:rgba(255, 255, 255, 0.1);

//font
$primary-font:Roboto,sans-serif;
$secondary-font:Raleway;

//social icon
$icon-color:#AFB1B8;