.client{

    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item{
        display:flex; 
        
        @media screen and (max-width: 768px) {
                @include flex-basis(30px, 2);
            }
        
        @media screen and (min-width: 768px){
            @include flex-basis(30px, 3);
        }

        @media screen and (min-width:1200px) {
            @include flex-basis(30px, 6);
        }

    }

    &__link{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 92px;
        color: #AFB1B8;        
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        @include transition(color);    
        
        

        &:hover, &:focus{
            border-color: $accent-color;
            color: $accent-color;
        }
    }
     
    &__icon{        
        fill: currentColor;
        @include transition(fill);
    }
}